@font-face {
    font-family: "NanumSquareRound";
    src: url("/src/assets/font/NaverNanumSquareRound/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundR.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "NanumSquareRound";
    src: url("/src/assets/font/NaverNanumSquareRound/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundL.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "NanumSquareRound";
    src: url("/src/assets/font/NaverNanumSquareRound/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundB.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "NanumSquareRound";
    src: url("/src/assets/font/NaverNanumSquareRound/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundEB.ttf") format("truetype");
    font-weight: 800;
}